.ant-picker .ant-picker-input > input,
.customInputDateField {
  font: normal normal normal 11px var(--font-family) !important;
}
.ant-picker-input-active {
  border-radius: 5px !important;
}
.ant-picker-range .ant-picker-active-bar {
  background: var(--primary-color);
}
.ant-picker-input-placeholder {
  font: normal normal 600 11px/14px var(--font-family) !important;
}
.ant-picker-range-wrapper {
  font: normal normal 600 11px var(--font-family) !important;
}

.ant-picker-cell-in-view.ant-picker-cell-range-start .ant-picker-cell-inner {
  background-color: var(--primary-color) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-end .ant-picker-cell-inner {
  background-color: var(--primary-color) !important;
}
.ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
  border-color: var(--primary-color) !important;
}
.ant-picker-dropdown .ant-picker-cell {
  padding: 3px 0 !important;
}
.ant-picker-dropdown .ant-picker-date-panel .ant-picker-body {
  padding: 1px 18px !important;
}
.ant-picker-cell-in-view.ant-picker-cell-range-start:not(
    .ant-picker-cell-range-start-single
  )::before,
.ant-picker-cell-in-view.ant-picker-cell-in-range::before,
.ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-range-end-single)::before,
.ant-picker-time-panel-column
  > li.ant-picker-time-panel-cell-selected
  .ant-picker-time-panel-cell-inner {
  background: rgb(239, 241, 243) !important;
}

.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-240cud).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-240cud).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end:not(.ant-picker-cell-disabled)
  .ant-picker-cell-inner {
  background: var(--primary-color) !important;
}
