.homeReqTaskTabContainer {
  display: flex;
  border-radius: 0.7rem;
  font: normal normal 600 13px/18px var(--font-family);
  background-color: #f3f5f7;
  box-shadow: 0 0.1875rem 0.1875rem 0 #0e223812;
  display: flex;
  align-items: center;
}
.homeReqTaskTabButton {
  padding: 0.3rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.homeReqTabButton,
.homeOpenTasksTabButton {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  position: relative;
}
.homeTaskTabButton,
.homeClosedTasksTabButton {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  position: relative;
}
