.task-list-container {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.task-item {
  background: white;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #d1e3f8;
  /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); */
  font-family: var(--font-family);
  font-size: 13px;
}

.ellipsisItemText {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d1e3f8;
  padding-bottom: 5px;
  margin-bottom: 10px;
  font-size: 13px;
}

.task-status {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: bold;
}

.task-details {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
}

.task-field {
  display: flex;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
}

.task-field label {
  font-weight: bold;
  color: #003366;
}
