.taskCardHeaderContainer {
  background-color: var(--primary-color);
  height: 50px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
  display: flex;
  align-items: center;
  padding: 0 1.8rem;
}
.taskCardPrevIcon {
  cursor: pointer;
  margin-right: 0.5rem;
  margin-top: 0.1rem;
}
.taskCardTitle {
  color: #fff;
  display: flex;
  align-items: center;
  font: normal normal 500 16px var(--font-family);
}
